/* Fontes para o site */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/*------ Zerando a formatação ------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------ Editando a fonte padrão ------*/
.body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FDECF2;
}

/*------ Menu de navegação ------*/
nav li a {
    margin: 0px 20px;
    text-transform: uppercase;
}

nav .navbar-header a {
    color: #B93171;
}

nav .navbar-header a:hover {
    color: white;
    text-shadow: 0 0 10px #B93171;
    border-bottom: 1px solid #e5a0c0;
}

nav .navbar-header a:focus {
    color: #B93171;
    text-shadow: 0 0 10px #B93171;
    border-bottom: 1px solid #B93171;
}

nav .navbar-header a:active {
    color: #CFBAE1;
    text-shadow: 0 0 10px #461b54;
    border-bottom: 1px solid #cc9cdc;
}

.logo1 {
    width: 300px;
}

.funcionario a,
.funcionario a:hover,
.funcionario a:active {
    text-decoration: none;
    color: #fdecf2;
}

/*------ Rodapé ------*/
footer .linhahorizontal {
    border: none;
    border-top: 3px solid #B93171;
    margin-top: 20px;
}

footer {
    text-transform: uppercase;
    color: #B93171;
}

footer img {
    width: 50px;
}

footer ul {
    list-style: none;
}

footer .nav a,
footer a {
    text-decoration: none;
    color: #B93171;
}

footer .nav a:hover,
footer a:hover {
    color: white;
    text-shadow: 0 0 10px #B93171;
}

footer .nav a:active,
footer a:active {
    color: #CFBAE1;
    text-shadow: 0 0 10px #461b54;
}

footer .fa {
    font-size: 30px;
}

.part4 input,
.part4 input:hover,
.part4 input:focus {
    background-color: rgba(255, 192, 203, 0);
    box-shadow: none;
    border-color: #B93171;
    color: #741340;
    border-color: #B93171;
}

.part4 textarea,
.part4 textarea:hover,
.part4 textarea:focus {
    height: 100px;
    background-color: rgba(255, 192, 203, 0);
    box-shadow: none;
    border-color: #B93171;
    border-color: #B93171;
    color: #741340;
}

.part4 form {
    border: 2px solid #B93171;
    padding: 10px;
    border-radius: 10px;
}

.part4 button {
    background-color: #B93171;
    border: none;
    color: white;
}

.part4 button:hover {
    color: white;
    background-color: #B93171;
    box-shadow: 0px 0px 20px 0px #B93171;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 2px 2px 2px rgba(206, 89, 55, 0);
}

.direitos img {
    width: 30px;
    height: 30px;
}

/*------ Página home ------*/

/* Estilizando o carrossel */
#carouselExample {
    width: 80%;
    margin: 0 auto; /* Centraliza horizontalmente */
}

/* Estilos para os slides */
.carousel-caption {
    background-color: rgba(61, 4, 28, 0.4); /* Fundo semi-transparente para texto */
    padding: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.carousel-caption h2 {
    color: #fdd7e9;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
}

/* Estilos para as setas de navegação */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    font-size: 30px;
    border-radius: 50%;
    padding: 15px;
    color: #fff;
}

.home {
    color: #b93171;
    text-transform: uppercase;
}

.home h2 {
    font-weight: bolder;
}

.home .fa {
    font-size: 100px;
}

.home .instagram {
    background-color: #CFBAE1;
    color: #240062;
}

.home .instagram a {
    text-decoration: none;
    color: #240062;
}

.home .instagram:hover,
.home .instagram a:hover {
    color: #e0cfef;
    text-shadow: 0 0 10px #240062;
}

/*------ Página sobre ------*/

.sobre p,
.sobre h1,
.sobre h2 {
    color: #741340;
}

.sobre .img1 img {
    width: 500px;
}

.sobre h2 {
    text-transform: uppercase;
    margin: 10px 0px 20px 0px;
}

.sobre h1 {
    text-transform: uppercase;
}

.sobre .faixa h1 {
    color: #240062;
}

.sobre .faixa {
    background-color: #CFBAE1;
}

.sobre p {
    text-align: justify;
    text-indent: 10px;
}

.sobre .endereco p {
    text-align: center;
}

.sobre iframe {
    width: 400px;
    height: 400px;
}

.sobre .endereco {
    text-transform: uppercase;
    font-weight: bolder;
}

.sobre a,
.sobre a:hover {
    text-decoration: none;
    color: #741340;
}

.sobre .fa {
    font-size: 30px;
}

/*------ Página catálogo ------*/

.card {
    min-width: 100%;
    min-height: 420px;
    margin: 25px;
    padding: 10px 4px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(95, 0, 55, 0.5);
    transition: 0.3s;
    background-color: #ffc8e3;
    position: relative;
}

.card:before { /*Cria meio que um filtro sobre a cartinha quando estiver no modo hover, uma sobreposição gradiente nas cartas do catálogo*/
    content: ""; /*um elemento invisivel antes do conteúdo real*/
    position: absolute; /*posição do elemento invisivel, no geral, tudo aqui é para esses elementos*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, rgba(238, 217, 248, 0.5) 100%);
    z-index: 1;
}

.container-fluid .card {
    margin-left: auto;
    margin-right: auto;
}

.card-header {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 auto;
}

.card-header img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.card-body {
    height: auto;
    padding: 10px;
    text-align: center;
}

.card-titulo {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 10px 0;
    color: #5f0d33;
}

.card-texto {
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    margin: 0 auto;
    color: #5f0d33;
}

.card:hover {
    transform: scale3d(1.1, 1.1, 1);
    background-color: #CFBAE1;
    box-shadow: 0px 0px 10px rgba(49, 0, 95, 0.5);
}
